---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in site.posts -%}
      <li class="post-card">
        <a class="post-card-link" href="{{ post.url | relative_url }}" aria-label="{{ post.title | escape }}"></a>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <span class="post-link">{{ post.title | escape }}</span>
        </h3>
        {%- if post.excerpt -%}
          <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 120 }}</p>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
